@charset "utf-8";
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
}

/* CSS Document */

#container {
    width: 730px;
    background: #FFF;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
#left_column {
}

#right_column {
}
#left_column, #right_column {
    width: 340px;
	float:left;
	margin-left: 20px;
}
